.page.theme_light {
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #353430;
  --decor-text: #ff8dcb;
  --semitransparent: rgba(12, 12, 10, 0.4);

}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --subtitle-color: #353430;
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #353430;
  --decor-text: #ff8dcb;
  --semitransparent: rgba(12, 12, 10, 0.4);
  }

  .decorated-text {
    display: none;
  }
}

.theme_light .decorated-text {
  display: none;
}