.page {
  min-inline-size: 375px;
  font-family: var(--main-font, monospace);
  color: var(--text-color, #f1b2ce);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-image: var(--bg-image);
  background-color: var(--bg-color, #000028);
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  block-size: 100vb;
}

.header {
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  border-block-start: 1px solid var(--accent-color, #ff0070);
  border-inline-end: 1px solid var(--accent-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
  border-block-end: 1px solid var(--accent-color, #ff0070);
  border-inline-start: 1px solid var(--accent-color, #ff0070);
}

.decorated-text {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color, #ff0070);
  inset-block-start: 10px;
  inset-inline-end: 38px;
}

.decorated-text::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  inset-block-start: 8px;
  inset-inline-start: 42px;
  border-radius: 50%;
  background-color: var(--accent-color, #ff0070);
  box-shadow: 0px 0px 4px 2px var(--accent-color, #ff0070);
}

.header__theme-menu {
  grid-row-start: 1;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
  color: var(--accent-color, #ff0070);
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  line-height: 82.5%;
  text-transform: lowercase;
  padding: 5px 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:active {
  outline: 1px solid var(--accent-color, #ff0070);
}

.header__theme-menu-button:focus {
  border: none;
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color, #ff0070);
}

.header__title {
  grid-row-start: 2;
  color: var(--title-color, #db00ff);
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

.title-shadow {
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.text-shadow {
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

.header__subtitle {
  inline-size: calc(100vw - 20px);
  grid-row-start: 3;
  justify-self: end;
  align-self: center;
  display: flex;
  font-weight: 700;
}

.card__text:not(:last-of-type) {
  padding-block-end: 10px;
}

.title-decor {
  color: var(--bg-color, #000028);
  background-color: var(--accent-color, #ff0070);
}

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.columns {
  display: grid;
  gap: 20px 20px;
}

.title {
  color: var(--accent-color, #ff0070);
  font-size: 18px;
  font-weight: 700;
}

.columns__list {
  display: grid;
  gap: 20px 20px;
}

.card__title {
  margin-block-end: var(--padding-bottom);
  font-size: 18px;
  font-weight: 700;
}

.columns__link {
  text-decoration: none;
}

.columns__link:focus {
  border: none;
  outline: none;
}

.columns__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.columns__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.card__title--list {
  margin-block-end: 0;
}

.card__subtitle {
  font-size: 18px;
  font-weight: 400;
  margin-block-end: var(--padding-bottom)
}

.image__title {
  color: var(--bg-color);
  margin-block-end: var(--padding-bottom);
}

.image__block {
  display: grid;
  gap: 10px 10px;
}

.image__block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  padding: 10px;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  color: var(--title-color, #db00ff);
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  text-align: center;
}


@media (min-width: 768px) {
  .header {
    padding: 20px 20px 20px 0;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }
  
  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }
  
  .decorated-text {
    inset-block-start: 20px;
    inset-inline-end: 48px;
  }

  .header__subtitle {
    inline-size: 47.5vw;
  }

  .main {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .columns {
    grid-template-columns: 1fr 2fr;
  }

  .columns__list--three {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .image__title {
    margin-block-end: 20px;
  }

  .image__block {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min(192px) min(230px) min(318px);
    grid-auto-rows: 1fr 2fr;
    gap: 20px 20px;
  }

  .image__block-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .image__block-2 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;

  }

  .image__block-3 {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .image__block-4 {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .image__block-5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
  }

  .footer {
    padding: 20px;
  }

  .footer__text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .page {
    max-inline-size: 1024px;
  }
  
  .header__theme-menu {
    padding-inline-start: 20px;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__subtitle {
    inline-size: max(491px);
  }

  .columns {
    grid-template-columns: 1fr 66%;
  }

  .columns__list--three {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
  }

  .image__block {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max(260px) max(315px) max(428px);
    grid-auto-rows: 1fr 2fr;
    gap: 20px 20px;
  }
}
