:root {
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #db00ff;
  --subtitle-color: #000028;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --decor-text: #ff0070;
  --semitransparent: rgba(255, 0, 112, 0.40);
  --main-font: "IBM Plex mono", monospace;
  --text-font-size: 18px;
  --padding-bottom: 10px;
  --title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}